---
layout: default
---

<h1>
  {{ page.title }}
</h1>

<h3>
  Použité technológie
</h3>

<i>
  {% for technology in page.technologies %}
    {% case technology %}
      {% when 'Java' %}
        {{ "Programovací jazyk " | append: technology }}
      {% when 'R' %}
        {{ "Programovací jazyk " | append: technology }}
      {% else %}
        {{ "knižnica " | append: technology }}
    {% endcase %}
  {% endfor %}
</i>

{{ content }}

<p><b>Kľúčové slová</b></p>
{% for keyword in page.keywords %}
<i>
  {{ keyword | replace: "algoritmy", "alg." }}
  {% if keyword != page.keywords.last %}
  ,
  {% endif %}
</i>
{% endfor %}
